.nui-button {
  border: none;
  background: none;
  transition: filter 0.3s ease;
  --glow-color: transparent;

  svg {
    transition: filter 0.3s ease;
  }

  &:hover {
    svg {
      filter: drop-shadow(0 0 1px var(--glow-color))
        drop-shadow(0 0 4px var(--glow-color));
    }
  }

  &--primary {
    --glow-color: #007bff;

    svg path {
      fill: #007bff;
    }
  }

  &--secondary {
    --glow-color: #6c757d;

    svg path {
      fill: #6c757d;
    }
  }

  &--success {
    --glow-color: #28a745;

    svg path {
      fill: #28a745;
    }
  }
}
