.nui-button {
  border: none;
  background: none;
  transition: filter 0.3s ease;
  --glow-color: transparent;

  svg {
    transition: filter 0.3s ease;
  }

  &:hover {
    svg {
      filter: drop-shadow(0 0 1px var(--glow-color))
        drop-shadow(0 0 4px var(--glow-color));
    }
  }

  &--primary {
    --glow-color: #6bc1ff;

    svg path {
      fill: #6bc1ff;
    }
  }

  &--secondary {
    --glow-color: transparent;

    svg path {
      fill: #989898;
    }
  }

  &--success {
    --glow-color: #28a745;

    svg path {
      fill: #28a745;
    }
  }

  .bg_svg {
    transform: rotate(90deg);
  }
}
